@media all and (min-width: 480px) {
    .brand-bar {
        /* margin: -60px 0; */
    }
    .Login {
      /* padding: 0 0;
      height: 60vw; */
      background-color: #EBEBEB;
      /* background-image:url('../src/img/background.jpg'); */
      /* background-repeat:repeat; */
      /* -moz-background-size:100% 100%; */
      /* -webkit-background-size:100% 100%; */
      /* -o-background-size:100% 100%; */
      /* background-size:100% 100%; */
      font-weight: 600;
    }
  
    .Login form {
      margin: auto;
      padding: 90px 0;
      max-width: 320px;
    }

    .LoginBtn {
      background-color:#9e7d7a,
    }
  }